@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Medtronic colors: http://brandcentral.medtronic.com/brand-assets/downloads-tools/Color/doc-color-palette-breakdown-pdf.pdf
// Medtronic Primary Blue Color Palette
$mdt-navy-blue:#001E46;
$mdt-cobalt-blue: #0085CA;
$mdt-sky-blue: #71C5E8;
$mdt-medtronic-blue: #004B87;
$mdt-medium-blue: #00A9E0;
$mdt-light-blue: #B9D9EB;

// Medtronic Primary Neutral Color Palette
$med-charcoal-gray: #53565a;
$med-dark-gray: #888B8D;
$med-pale-gray: #E8E8E7;
$med-blue-gray: #5B7F95;
$med-light-gray: #B1B3B3;
$mdt-white: #FFFFFF;

// Medtronic Accent Color Palette
$mdt-yellow: #FFCE00;
$mdt-orange: #E35205;
$mdt-green: #77BC1F;
$mdt-light-orange: #F7A800;
$mdt-purple: #B0008E;
$mdt-turquoise: #00C4B3;

// Reset Bootstrap theme colors
$theme-colors: ("primary": $mdt-medtronic-blue, "secondary": $mdt-cobalt-blue, "info": $mdt-green, "warning": $mdt-orange);
$body-color: $med-charcoal-gray;

// Grid gutters
$grid-gutter-width: 30px !default; // Default is 30px

// Colors
// https://bootstrap-vue.js.org/docs/reference/color-variants

// Importing: https://getbootstrap.com/docs/4.0/getting-started/theming/#importing
// Option A: Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// Required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// Optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";

// A map of breakpoints.
$breakpoints: (xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1500px);
$bp-xs: map-get($breakpoints, xs);
$bp-sm: map-get($breakpoints, sm);
$bp-md: map-get($breakpoints, md);
$bp-lg: map-get($breakpoints, lg);
$bp-xl: map-get($breakpoints, xl);

.text-light {
  color: #fff;
}

body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Effra', Arial, sans-serif;
  font-size: 1.125rem;

  @media (min-width: $bp-xl) {
    // font-size: 1.125rem;
  }
}

.container-fluid {
  max-width: 1140px;

  @media (min-width: $bp-xl) {
    // max-width: 1350px;
  }
}

img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

video {
  width: 100% !important;
  height: auto !important;
}

.display-3 {
  color: inherit;
  text-transform: none;

  @media (max-width: $bp-sm) {
    font-size: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h1 {
  color: $mdt-medtronic-blue;
  font-size: 2.25rem; //36px @ 1rem
  font-weight: 700;
}

h2 {
  color: $mdt-medtronic-blue;
  font-size: 1.875rem; //30px @ 1rem
  font-weight: 700;
}

h3 {
  color: $mdt-medtronic-blue;
  font-size: 1.5rem; //24px @ 1rem
  font-weight: 700;
}

ul {
  list-style-type: square;
}

li {
  margin-bottom: 0.5rem;
}

// a:not(.nav-link):not(.btn) {
//   color: $mdt-cobalt-blue;
//   text-decoration: underline;
// }
.link-main {
  color: $mdt-cobalt-blue;
  text-decoration: underline;
}

.text-dark {
  color: red;
}

.lead {
  font-size: 1.5rem;
}

p {
  line-height: 1.4;
  margin-bottom: 20px;
}

.figure-caption {
  padding-top: 0.5rem;
}

.full-responsive p {
  max-width: $bp-sm;
}

/* Parallax */
/* Turn off parallax scrolling for all tablets and phones */
.parallax-fixed {
  background-attachment: fixed;
  // transform: translateZ(-999px) scale(.7);

  @media (max-device-width: 1366px) {
    background-attachment: scroll;
  }

  overflow: hidden;
}

/* Bootstrap */
.navbar {
  margin-bottom: 0px;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler-icon {
  color: rgba(255, 255, 255, 1);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 0;
}

.navbar-expand-md .navbar-nav .nav-link:not(:first-child) {
  @media (min-width: $bp-sm) {
    padding-left: 1.5rem;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.card {
  border-radius: 0;
}

.card.bg-primary {
  // Remove border on cards that have a dark color BG
  border: none;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.img-thumbnail {
  border: none;
  border-radius: 0;
  padding: 0;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
}

.modal-content {
  border-radius: 0;
  border: 0;
}

.modal-body {
  padding: 0;
}

.modal-backdrop {
  opacity: 0.85;
}

.modal.fade .modal-dialog {
  transform: none;
}

// My utilities
.text-shadow {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero-body-limited-width {
  max-width: 700px;
}

.flex-item-bottom {
  margin-top: auto;
}