<template>
<Layout>
  <b-container fluid class="mt-4">
    <h1>Page not found</h1>
    <p>The page you are looking for, <strong>{{ winLocation }}</strong>, does not exist.</p>
    <h2>Did you type in the URL?</h2>
    <p>Please check that the spelling and capitalization of the address are what you intended.</p>
    <p>You might also like to try starting at our <g-link to="/">home page</g-link>.</p>
  </b-container>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Page Not Found"
  },
  data() {
    return {
      winLocation: ""
    };
  },
  mounted() {
    this.winLocation = window.location;
  }
};
</script>

<style lang="scss" scoped>
</style>