<template>
  <Layout>
    <b-jumbotron
      text-variant="light"
      fluid
      container-fluid
      class="image-bg-intro text-center d-flex justify-content-center align-items-center"
    >
      <template v-slot:header>Advanced Automation</template>

      <template v-slot:lead>
        <span class="text-light">Lead text if needed.</span>
      </template>
    </b-jumbotron>

    <b-container fluid class="mt-4">
      <b-row class="mt-5">
        <b-col cols="12" md="6" order-md="1" class="mb-3">
          <h2>Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus
            voluptates tempora architecto aspernatur temporibus! Quisquam
            reiciendis consectetur natus, ducimus a quae labore suscipit, nemo
            libero minus corporis dolor doloremque, itaque eveniet vitae tempora
            voluptatibus aliquam perspiciatis laboriosam praesentium nobis
            obcaecati.
          </p>
          <p>
            A commodi explicabo soluta illum odio ad ea mollitia iusto nam eaque
            itaque sint omnis fuga quisquam sequi qui maxime distinctio libero
            quas, officiis officia doloribus! Doloremque aliquam nobis expedita!
            Ratione animi, maxime vero minus laudantium repudiandae nisi
            perferendis provident hic consectetur sit illo voluptas minima
            soluta quis blanditiis distinctio sapiente? Vitae minus ducimus eos,
            repellat corporis culpa perspiciatis quas!
          </p>
        </b-col>
        <b-col cols="12" md="6" order-md="2">
          <g-image src="~/assets/images/medtronic-minimed.png" alt="" />
        </b-col>
      </b-row>

      <b-row class="mt-5">
        <b-col>
          <h2>Subheading</h2>
          <p>
            This section uses a "media" component, showing a smaller image on
            the left (or right) and then text.
          </p>
          <p>
            The 1:1 image aspect ratio seems to be ideal here if a LEARN MORE
            button is used. The 3:2 aspect ratio works well if not.
          </p>
          <div class="mt-3">
            <ul class="list-unstyled">
              <b-media tag="li">
                <template v-slot:aside>
                  <g-image
                    src="~/assets/images/fpo-1x1.png"
                    width="150"
                    alt=""
                  />
                </template>
                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p class="mb-0">
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla.
                </p>
                <b-button variant="primary" class="mt-3">Learn More</b-button>
              </b-media>

              <b-media tag="li" class="my-4">
                <template v-slot:aside>
                  <g-image
                    src="~/assets/images/fpo-4x3.png"
                    width="150"
                    alt=""
                  />
                </template>

                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p class="mb-0">
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla.
                </p>
                <b-button variant="primary" class="mt-3">Learn More</b-button>
              </b-media>

              <b-media tag="li">
                <template v-slot:aside>
                  <g-image
                    src="~/assets/images/fpo-3x2.png"
                    width="150"
                    alt=""
                  />
                </template>

                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p class="mb-0">
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla.
                </p>
              </b-media>
            </ul>
          </div>
        </b-col>
      </b-row>

      <b-row class="mt-5">
        <b-col>
          <h2>Unstyled Table</h2>
          <p>
            This is content from page 56 from
            <strong>780_HCP Deck Structure.pdf</strong>
          </p>
          <b-table-simple striped bordered responsive class="table-style">
            <b-thead head-variant="dark">
              <b-tr>
                <b-th>Feature</b-th>
                <b-th>MiniMed™ 670G</b-th>
                <b-th>MiniMed™ 780G</b-th>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr>
                <b-td>Calibration</b-td>
                <b-td>Each BG needs to be confirmed for calibration</b-td>
                <b-td>Each BG automatically calibrates the sensor</b-td>
              </b-tr>
              <b-tr>
                <b-td>Sensor Integrity Check</b-td>
                <b-td>Yes</b-td>
                <b-td>No</b-td>
              </b-tr>
              <b-tr>
                <b-td>SmartGuard re-enable, when exiting to Manual Mode</b-td>
                <b-td>No</b-td>
                <b-td>Automatic, as it was before enabling Auto Mode</b-td>
              </b-tr>
              <b-tr>
                <b-td>Safe Basal Indication</b-td>
                <b-td>Grey Shield</b-td>
                <b-td>Screen displays <em>"Time until exit"</em></b-td>
              </b-tr>
              <b-tr>
                <b-td>Bolus Wizard</b-td>
                <b-td>Only with BG</b-td>
                <b-td>Also with SG</b-td>
              </b-tr>
              <b-tr>
                <b-td>Bluetooth Enabled</b-td>
                <b-td>No</b-td>
                <b-td>Yes</b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
        </b-col>
      </b-row>

      <b-row class="justify-content-md-center mt-5">
        <b-col cols="12" md="8">
          <h2>Centered Narrower Column</h2>
          <p>
            To avoid long, unreadable lines of text, it has a narrowed, single
            column. In this case it is centered and uses 8 of the 12 grid
            columns. In effect, it is reduce to 2/3 of the full width (which is
            too long for full reading).
          </p>
          <p>
            This kind of reading-oriented layout is focussed on the text and
            does not include multiple columns. If supporting images are
            included, they appear above/below the related text and include a
            caption just below the image.
          </p>
          <p>
            We might not pursue this layout, but it's an idea shown here for
            conversation.
          </p>
          <h2>Subheading</h2>
          <p>A basic bulleted list.</p>
          <ul>
            <li>
              Quae earum amet cupiditate quas. Hic corrupti itaque corporis quos
              aliquam magnam laboriosam distinctio ut culpa libero praesentium
              minus saepe
            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
            <li>Minima dolores debitis enim odio in itaque rem</li>
            <li>Possimus voluptatem optio sunt ducimus alias quisquam</li>
          </ul>
          <p>
            <g-link to="/" class="link-main">Test link goes home</g-link>. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate
            molestias placeat iure quo libero iste dolore, omnis tempore
            excepturi optio laboriosam atque distinctio rem, labore corrupti.
            Possimus voluptatem optio sunt ducimus alias quisquam? Est, a modi!
            Laudantium dolores doloribus quia voluptatem consequatur neque
            tenetur earum delectus perspiciatis, rem, laboriosam distinctio ut
            culpa libero praesentium minus saepe exercitationem consectetur
            assumenda eius nulla.
          </p>
          <figure class="figure">
            <g-image src="https://picsum.photos/1000/500/?image=123"></g-image>
            <figcaption class="figure-caption">
              A caption for the above image.
            </figcaption>
          </figure>
          <p>
            Laboriosam, omnis quisquam harum earum voluptas fugit ea ducimus
            ipsa neque sapiente facilis cum iste blanditiis? Ea veniam
            aspernatur quasi blanditiis voluptas dolorum officia, atque corporis
            culpa quam voluptate quibusdam quisquam recusandae commodi dolore
            consectetur? Quae earum amet cupiditate quas. Hic corrupti itaque
            corporis quos aliquam magnam labore reprehenderit odit eaque
            necessitatibus molestias quisquam rerum nisi iusto reiciendis,
            provident minima illo praesentium laudantium molestiae ut nam
            debitis.
          </p>
          <h2>Subheading</h2>
          <p>
            Suscipit consequuntur enim quos, perferendis consequatur velit quis
            repudiandae eius exercitationem mollitia facilis! Itaque ipsa autem
            dolore deserunt eius ipsum. A assumenda quibusdam repudiandae at
            nihil voluptate hic, dolore eum non error, beatae dolores ipsum ipsa
            necessitatibus consequuntur delectus sunt, laudantium expedita rem
            vero! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Minima dolores debitis enim odio in itaque rem magnam quibusdam sed
            facilis, quo, necessitatibus dolore. Eveniet ex aperiam saepe?
            Dolore, in voluptas.
          </p>
          <g-image src="~/assets/images/fpo-3x2.png" alt="" class="mb-3" />
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
            beatae libero aspernatur nisi amet quae earum exercitationem maiores
            modi, nobis possimus culpa quod laudantium vel aperiam eos dolores
            minus ea placeat sequi doloremque commodi animi enim excepturi. Quia
            quidem quaerat provident illo eius nesciunt perferendis est? Soluta,
            dolore non porro sed vero dicta aliquid necessitatibus consectetur
            optio neque amet illo tempora consequuntur accusamus ea quibusdam,
            sit velit. Totam, similique illum dolor quidem soluta veniam. Fugit,
            adipisci iste eligendi amet officia, excepturi reiciendis velit
            placeat voluptatem, necessitatibus molestias. Vel nemo officia magni
            aliquam minus omnis, sequi nobis corrupti earum culpa. Quas sapiente
            a recusandae odit nesciunt. Unde illum ea cupiditate minima fugit
            libero odio delectus illo impedit, pariatur perferendis eius laborum
            quis dignissimos magni. Illum assumenda tempora perferendis
            exercitationem optio suscipit rerum sit, fugiat tempore non corporis
            ab impedit beatae consequuntur aspernatur enim voluptatum
            dignissimos illo quo. Voluptatibus eius libero quia.
          </p>
          <h2>Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            beatae veritatis nulla amet repellat, exercitationem dignissimos
            aspernatur aut at tempora deleniti, culpa officia ab sapiente
            voluptatibus iste mollitia, ex perferendis tempore hic quia magni.
          </p>
          <p>
            Dicta aut earum similique nemo enim animi aliquid ducimus ipsa
            quaerat praesentium officiis odit repellat dolores vel neque quos
            iusto ad, quas sequi alias exercitationem quasi! Earum dolorum velit
            dolore aperiam unde labore, a excepturi, quam recusandae molestiae
            provident architecto in ex qui saepe vel veniam tenetur officiis
            exercitationem reprehenderit. Beatae, dignissimos recusandae aperiam
            labore, veniam qui, fugit velit dolor ratione dolore sed. Autem,
            officia?
          </p>
        </b-col>
      </b-row>
    </b-container>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Advanced Automation"
  }
};
</script>

<style lang="scss" scoped>
@import "~@/assets/css/custom.scss";

.image-bg-intro {
  background-image: url("https://picsum.photos/1600/600/?image=466");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  height: 50vh;
  min-height: 200px;
  max-height: 400px;
  // height: 400px;
  // @media (max-width: $bp-sm) {
  //   height: 200px;
  // }
}

.table-style {
  // .table-striped tbody tr:nth-of-type(odd) {
  //   background-color: $mdt-light-blue;
  // }
  tbody {
    color: #222;
  }
  th:nth-child(2),
  td:nth-child(2) {
    color: #222;
    background-color: lighten($mdt-medium-blue, 10%);
  }
  th:nth-child(3),
  td:nth-child(3) {
    color: #222;
    background-color: $mdt-medium-blue;
  }
}
</style>
