<template>
  <Layout>
    <b-container fluid class="mt-4">
      <b-row class="justify-content-md-center">
        <b-col cols="12" md="8">
          <h1>Animate on Scroll Test</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi at,
            corrupti temporibus reprehenderit fugiat eos qui voluptates,
            quibusdam repellendus quis deleniti? Quas illo at sed odio assumenda
            suscipit perspiciatis molestiae.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iusto
            quam tenetur, commodi unde numquam possimus, amet accusamus, in
            ipsam deserunt quia recusandae. Deleniti itaque ea molestias?
            Repudiandae nulla iste accusantium at minus deleniti distinctio a,
            dolore laboriosam molestiae modi nemo possimus! Placeat voluptatibus
            dolore neque voluptatem velit architecto voluptatum tempora, nam non
            modi tempore cumque sit aspernatur nesciunt harum quam laborum
            accusantium animi. Iste assumenda tenetur nemo corrupti sunt
            facilis, odio, temporibus laudantium excepturi qui voluptas? Quod
            dignissimos suscipit nemo officia ipsum, doloribus sunt earum
            repudiandae placeat modi blanditiis alias cum vitae iusto vero dicta
            esse fugit soluta excepturi quam voluptatum dolor! Repudiandae in
            tempore, at voluptate qui doloribus nesciunt sapiente molestiae id,
            perferendis molestias odit optio. Repudiandae perferendis in vero
            fuga consequuntur est officia accusantium distinctio. Libero, minima
            totam aliquam aperiam rerum corrupti veritatis. Fuga, nesciunt?
            Atque dolore est in dignissimos voluptatibus debitis sunt impedit
            illum deleniti eius quisquam quod expedita culpa voluptas asperiores
            quis non dicta dolores doloribus, a animi architecto aperiam?
            Quidem, tempore! Similique aliquid nulla est sequi ducimus provident
            quasi earum quis quod rem dolor voluptates facere nemo, velit, ea
            sunt fugit deserunt eius assumenda odit id ullam quas? Quasi, alias
            ipsum. Error, possimus modi!
          </p>
          <figure class="figure">
            <g-image src="https://picsum.photos/1000/500/?image=123"></g-image>
            <figcaption class="figure-caption">
              A caption for the above image.
            </figcaption>
          </figure>
          <p>
            Laboriosam, omnis quisquam harum earum voluptas fugit ea ducimus
            ipsa neque sapiente facilis cum iste blanditiis? Ea veniam
            aspernatur quasi blanditiis voluptas dolorum officia, atque corporis
            culpa quam voluptate quibusdam quisquam recusandae commodi dolore
            consectetur? Quae earum amet cupiditate quas. Hic corrupti itaque
            corporis quos aliquam magnam labore reprehenderit odit eaque
            necessitatibus molestias quisquam rerum nisi iusto reiciendis,
            provident minima illo praesentium laudantium molestiae ut nam
            debitis.
          </p>
          <h2>Subheading</h2>
          <p>
            Suscipit consequuntur enim quos, perferendis consequatur velit quis
            repudiandae eius exercitationem mollitia facilis! Itaque ipsa autem
            dolore deserunt eius ipsum. A assumenda quibusdam repudiandae at
            nihil voluptate hic, dolore eum non error, beatae dolores ipsum ipsa
            necessitatibus consequuntur delectus sunt, laudantium expedita rem
            vero! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Minima dolores debitis enim odio in itaque rem magnam quibusdam sed
            facilis, quo, necessitatibus dolore. Eveniet ex aperiam saepe?
            Dolore, in voluptas.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
            beatae libero aspernatur nisi amet quae earum exercitationem maiores
            modi, nobis possimus culpa quod laudantium vel aperiam eos dolores
            minus ea placeat sequi doloremque commodi animi enim excepturi. Quia
            quidem quaerat provident illo eius nesciunt perferendis est? Soluta,
            dolore non porro sed vero dicta aliquid necessitatibus consectetur
            optio neque amet illo tempora consequuntur accusamus ea quibusdam,
            sit velit. Totam, similique illum dolor quidem soluta veniam. Fugit,
            adipisci iste eligendi amet officia, excepturi reiciendis velit
            placeat voluptatem, necessitatibus molestias. Vel nemo officia magni
            aliquam minus omnis, sequi nobis corrupti earum culpa. Quas sapiente
            a recusandae odit nesciunt. Unde illum ea cupiditate minima fugit
            libero odio delectus illo impedit, pariatur perferendis eius laborum
            quis dignissimos magni. Illum assumenda tempora perferendis
            exercitationem optio suscipit rerum sit, fugiat tempore non corporis
            ab impedit beatae consequuntur aspernatur enim voluptatum
            dignissimos illo quo. Voluptatibus eius libero quia.
          </p>
          <h2>Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            beatae veritatis nulla amet repellat, exercitationem dignissimos
            aspernatur aut at tempora deleniti, culpa officia ab sapiente
            voluptatibus iste mollitia, ex perferendis tempore hic quia magni.
          </p>
          <p>
            Dicta aut earum similique nemo enim animi aliquid ducimus ipsa
            quaerat praesentium officiis odit repellat dolores vel neque quos
            iusto ad, quas sequi alias exercitationem quasi! Earum dolorum velit
            dolore aperiam unde labore, a excepturi, quam recusandae molestiae
            provident architecto in ex qui saepe vel veniam tenetur officiis
            exercitationem reprehenderit. Beatae, dignissimos recusandae aperiam
            labore, veniam qui, fugit velit dolor ratione dolore sed. Autem,
            officia?
          </p>
        </b-col>
      </b-row>
    </b-container>
  </Layout>
</template>

<script>
// import VueAos from "vue-aos";

export default {
  metaInfo: {
    title: "Advanced Automation"
  },
  components: {
    // VueAos
  }
};
</script>

<style lang="scss" scoped>
@import "~@/assets/css/custom.scss";

.image-bg-intro {
  background-image: url("https://picsum.photos/1600/600/?image=776");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  height: 300px;
  @media (max-width: $bp-sm) {
    height: 250px;
  }
}
</style>
