<template>
  <Layout>
    <b-jumbotron text-variant="black" fluid container-fluid class="image-bg">
      <template v-slot:header>Hero Heading</template>

      <template v-slot:lead>
        Lead text lorem ipsum dolor sit amet consectetur adipisicing.
      </template>
    </b-jumbotron>

    <!-- <b-jumbotron text-variant="light" fluid container-fluid class="mt-3 image-bg text-center text-shadow">
      <template v-slot:header>Hero Image</template>

      <template v-slot:lead>
        <strong class="text-shadow">This hero area can have a background image, text and a button.</strong>
        <div class="mt-5">
          <b-button href="#" variant="primary">Learn More</b-button>
        </div>
      </template>
    </b-jumbotron> -->

    <b-container fluid class="mb-4">
      <h3>Text with a cutout image</h3>
      <b-row>
        <b-col cols="12" sm="6">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est
            earum possimus magnam asperiores numquam iure, tempora praesentium
            aut. Nostrum, dolorem explicabo ad repudiandae necessitatibus
            doloremque labore voluptates distinctio! Pariatur quisquam vitae
            suscipit nobis. Debitis iusto eaque eveniet fugit corrupti veritatis
            aut harum, doloremque libero assumenda voluptatum commodi quis ipsum
            delectus nulla consectetur enim quo in!
          </p>
          <p>
            Neque illo dolorem eligendi nesciunt id aspernatur voluptates
            distinctio modi. Ducimus error, voluptatem necessitatibus obcaecati,
            ex fugit debitis explicabo ipsum voluptas a esse rerum laboriosam
            eveniet ut asperiores reiciendis ab cum ipsam nobis vero itaque,
            consectetur ullam tempora excepturi? Quibusdam atque ad iste
            excepturi fugit deleniti
          </p>
        </b-col>
        <b-col cols="12" sm="6">
          <g-image src="~/assets/images/gs3-sensor.png" />
        </b-col>
      </b-row>
    </b-container>

    <b-container fluid class="bv-example-row">
      <h3 class="pt-3">3 images with labels on top</h3>
      <b-row>
        <b-col cols="12" md="4">
          <p>Photo title here</p>
          <b-img
            thumbnail
            fluid
            src="https://picsum.photos/800/800/?image=50"
            alt="Image 1"
          ></b-img>
        </b-col>
        <b-col cols="12" md="4">
          <p>Photo title here</p>
          <b-img
            thumbnail
            fluid
            src="https://picsum.photos/800/800/?image=29"
            alt="Image 2"
          ></b-img>
        </b-col>
        <b-col cols="12" md="4">
          <p>Photo title here</p>
          <b-img
            thumbnail
            fluid
            src="https://picsum.photos/800/800/?image=59"
            alt="Image 3"
          ></b-img>
        </b-col>
      </b-row>

      <h3 class="pt-3">3 images with labels on top - gutters removed</h3>
      <p>The spacing between columns, called "guttters," can be removed.</p>
      <b-row no-gutters>
        <b-col cols="12" md="4">
          <p>Photo title here</p>
          <b-img
            thumbnail
            fluid
            src="https://picsum.photos/800/800/?image=50"
            alt="Image 1"
          ></b-img>
        </b-col>
        <b-col cols="12" md="4">
          <p>Photo title here</p>
          <b-img
            thumbnail
            fluid
            src="https://picsum.photos/800/800/?image=29"
            alt="Image 2"
          ></b-img>
        </b-col>
        <b-col cols="12" md="4">
          <p>Photo title here</p>
          <b-img
            thumbnail
            fluid
            src="https://picsum.photos/800/800/?image=59"
            alt="Image 3"
          ></b-img>
        </b-col>
      </b-row>

      <h3 class="pt-3">4 images</h3>
      <p>
        This might get too narrow to be useful - it all depends on the content.
        See 3 images below.
      </p>
      <b-row class="text-center">
        <b-col cols="12" md="6" lg="3">
          <b-card
            title="Video example"
            img-src="https://picsum.photos/800/400/?image=16"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button
              @click="show = true"
              variant="primary"
              class="stretched-link text-uppercase"
              >Watch Video</b-button
            >
          </b-card>
        </b-col>

        <b-col cols="12" md="6" lg="3">
          <b-card
            title="Card Title"
            img-src="https://picsum.photos/800/400/?image=18"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button href="#" variant="primary">Learn More</b-button>
          </b-card>
        </b-col>

        <b-col cols="12" md="6" lg="3">
          <b-card
            title="Card Title"
            img-src="https://picsum.photos/800/400/?image=24"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button href="#" variant="primary">Learn More</b-button>
          </b-card>
        </b-col>

        <b-col cols="12" md="6" lg="3">
          <b-card
            title="Card Title"
            img-src="https://picsum.photos/800/400/?image=26"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button href="#" variant="primary">Learn More</b-button>
          </b-card>
        </b-col>
      </b-row>

      <h3 class="pt-3">3 images</h3>
      <p>This shows the text blocks with colored backgrounds.</p>
      <b-row class="text-left">
        <b-col cols="12" md="4" lg="4">
          <b-card
            bg-variant="primary"
            text-variant="white"
            title="Video example"
            img-src="https://picsum.photos/800/400/?image=29"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button
              @click="show = true"
              variant="light"
              class="stretched-link text-uppercase"
              >Watch Video</b-button
            >
          </b-card>
        </b-col>

        <b-col cols="12" md="4" lg="4">
          <b-card
            bg-variant="primary"
            text-variant="white"
            title="Card Title"
            img-src="https://picsum.photos/800/400/?image=48"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button href="#" variant="light">Learn More</b-button>
          </b-card>
        </b-col>

        <b-col cols="12" md="4" lg="4">
          <b-card
            bg-variant="primary"
            text-variant="white"
            title="Card Title"
            img-src="https://picsum.photos/800/400/?image=34"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up
              the...
            </b-card-text>

            <b-button href="#" variant="light">Learn More</b-button>
          </b-card>
        </b-col>
      </b-row>
    </b-container>

    <b-container fluid class="mb-4">
      <b-row class="mb-4">
        <b-col md="8" offset-md="2">
          <h2 class="pt-3">Full text, reduced width</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            error ipsum doloribus unde ullam atque ea temporibus deleniti vero
            dolore sint, officiis eius est corrupti assumenda facilis repellat
            natus. Odit nulla consequuntur dolorem placeat dignissimos, est
            eligendi sit eaque obcaecati! Repellat aliquam nemo iure, a et
            deserunt adipisci laudantium magnam provident dolor debitis quod
            earum! Porro doloremque veniam dolorem itaque.
          </p>
        </b-col>
      </b-row>

      <h2>Alternating image + text blocks</h2>
      <b-row class="mb-4">
        <b-col cols="12" sm="6" order="2">
          <h3>Heading</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est
            earum possimus magnam asperiores numquam iure, tempora praesentium
            aut. Nostrum, dolorem explicabo ad repudiandae necessitatibus
            doloremque labore voluptates distinctio! Pariatur quisquam vitae
            suscipit nobis.
          </p>
          <p>
            Neque illo dolorem eligendi nesciunt id aspernatur voluptates
            distinctio modi. Ducimus error, voluptatem necessitatibus obcaecati,
            ex fugit debitis explicabo ipsum voluptas a esse rerum laboriosam
            eveniet ut asperiores reiciendis ab cum ipsam nobis vero itaque,
            consectetur ullam tempora excepturi? Quibusdam atque ad iste
            excepturi fugit deleniti
          </p>
        </b-col>
        <b-col cols="12" sm="6" order="1">
          <g-image src="https://picsum.photos/800/500/?image=56" />
        </b-col>
      </b-row>
      <b-row class="mb-4">
        <b-col cols="12" sm="6">
          <h3>Heading</h3>
          <p>
            Pariatur quisquam vitae suscipit nobis. Debitis iusto eaque eveniet
            fugit corrupti veritatis aut harum, doloremque libero assumenda
            voluptatum commodi quis ipsum delectus nulla consectetur enim quo
            in!
          </p>
          <p>
            Ducimus error, voluptatem necessitatibus obcaecati, ex fugit debitis
            explicabo ipsum voluptas a esse rerum laboriosam eveniet ut
            asperiores reiciendis ab cum ipsam nobis vero itaque.
          </p>
        </b-col>
        <b-col cols="12" sm="6">
          <g-image src="https://picsum.photos/800/500/?image=56" />
        </b-col>
      </b-row>
      <b-row class="mb-4">
        <b-col cols="12" sm="6" order="2">
          <h3>Heading</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est
            earum possimus magnam asperiores numquam iure, tempora praesentium
            aut. Nostrum, dolorem explicabo ad repudiandae necessitatibus
            doloremque labore voluptates distinctio! Pariatur quisquam vitae
            suscipit nobis.
          </p>
          <p>
            Neque illo dolorem eligendi nesciunt id aspernatur voluptates
            distinctio modi. Ducimus error, voluptatem necessitatibus obcaecati,
            ex fugit debitis explicabo ipsum voluptas a esse rerum laboriosam
            eveniet ut asperiores reiciendis ab cum ipsam nobis vero itaque,
            consectetur ullam tempora excepturi? Quibusdam atque ad iste
            excepturi fugit deleniti
          </p>
        </b-col>
        <b-col cols="12" sm="6" order="1">
          <g-image src="https://picsum.photos/800/500/?image=56" />
        </b-col>
      </b-row>
    </b-container>

    <b-modal v-model="show" hide-footer hide-header centered size="xl">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/i6gVX5yp7pU?rel=0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          style="padding: 0px; background: rgb(255, 255, 255);"
        ></iframe>
      </div>
    </b-modal>
  </Layout>
</template>

<script>
import AOS from "aos";
import "aos/dist/aos.css";

export default {
  metaInfo: {
    title: "Home"
  },
  data() {
    return {
      show: false
    };
  },
  mounted() {
    AOS.init();
  }
};
</script>

<style lang="scss">
@import "~@/assets/css/custom.scss";

.image-bg-reference {
  // background: linear-gradient(#e66465, #9198e5);
  background-image: url("https://picsum.photos/1200/600/?image=25");
  background-color: $mdt-medtronic-blue;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  height: 360px;
}

.image-bg {
  // background-image: url("https://via.placeholder.com/1200x600.png?text=FPO");
  background-image: url("https://picsum.photos/1200/600/?image=10");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center 20%;
  height: 360px;
}

.left-text {
  max-width: 600px;
}
</style>
