<template>
  <Layout>
    <b-jumbotron
      text-variant="light"
      fluid
      container-fluid
      class="image-bg-intro"
    >
      <template v-slot:header>Clinical Evidence</template>

      <template v-slot:lead>
        <span class="text-light">Lead text if needed.</span>
      </template>
    </b-jumbotron>

    <b-container fluid class="mt-4">
      <b-row>
        <b-col class="">
          <h2>Full Width Text</h2>
          <p>
            <strong>This full text is too lengthy to comfortably read.</strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            voluptate molestias placeat iure quo libero iste dolore, omnis
            tempore excepturi optio laboriosam atque distinctio rem, labore
            corrupti. Possimus voluptatem optio sunt ducimus alias quisquam?
            Est, a modi! Laudantium dolores doloribus quia voluptatem
            consequatur neque tenetur earum delectus perspiciatis, rem,
            laboriosam distinctio ut culpa libero praesentium minus saepe
            exercitationem consectetur assumenda eius nulla. Quaerat
            consequuntur quos ipsa voluptatem asperiores non deleniti eius,
            assumenda quis saepe eligendi repellat fuga nisi, porro repellendus
            exercitationem sint laborum quae inventore fugiat voluptate
            cupiditate.
          </p>
          <h2>Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            magni asperiores necessitatibus error alias quo molestiae doloremque
            velit nihil cum nobis accusantium fugit optio dolorem quidem, illum
            dolorum tempore numquam cumque voluptatibus sint ab cupiditate quam
            nemo? Vero possimus id voluptatum tenetur necessitatibus incidunt
            veritatis facere. Repudiandae, illo officia! Porro, eius laudantium
            soluta exercitationem provident blanditiis nihil sequi ad vel
            aliquid eaque recusandae cupiditate deleniti temporibus perferendis
            fuga nostrum esse deserunt inventore obcaecati! Temporibus nulla
            officia eum hic nemo, repellat illo delectus debitis illum nihil nam
            quaerat officiis maiores error possimus earum atque amet excepturi
            accusamus perferendis inventore nostrum quod.
          </p>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="full-responsive">
          <h2>Narrowed Width Text - Left-Justified</h2>
          <p>
            <strong>This full text is too lengthy to comfortably read.</strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            voluptate molestias placeat iure quo libero iste dolore, omnis
            tempore excepturi optio laboriosam atque distinctio rem, labore
            corrupti. Possimus voluptatem optio sunt ducimus alias quisquam?
            Est, a modi! Laudantium dolores doloribus quia voluptatem
            consequatur neque tenetur earum delectus perspiciatis, rem,
            laboriosam distinctio ut culpa libero praesentium minus saepe
            exercitationem consectetur assumenda eius nulla. Quaerat
            consequuntur quos ipsa voluptatem asperiores non deleniti eius,
            assumenda quis saepe eligendi repellat fuga nisi, porro repellendus
            exercitationem sint laborum quae inventore fugiat voluptate
            cupiditate.
          </p>
          <h2>Subheading</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            ullam magnam consequatur totam maxime. Iure, id, ab consectetur quia
            cumque commodi eum excepturi dolor eveniet, atque provident? Animi
            quos placeat id deserunt sunt maiores dolorum itaque rem! Corporis
            numquam dolorum fuga accusantium iure aliquam! Enim earum quas ut ea
            nobis, repudiandae sed aliquam alias possimus necessitatibus nihil
            error tempore vel perspiciatis praesentium cupiditate neque dolore
            explicabo molestiae, perferendis eum officia at? Aspernatur maiores
            quidem ex perspiciatis tempore sapiente, molestias commodi neque
            saepe harum quia assumenda atque? Reprehenderit iusto laboriosam
            molestias labore omnis enim nisi veniam unde adipisci, magni quam
            voluptatum!
          </p>
        </b-col>
      </b-row>

      <b-row class="justify-content-md-center">
        <b-col cols="12" md="8">
          <h2>Narrowed Width Text - Centered</h2>
          <p>
            <strong>This full text is too lengthy to comfortably read.</strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            voluptate molestias placeat iure quo libero iste dolore, omnis
            tempore excepturi optio laboriosam atque distinctio rem, labore
            corrupti. Possimus voluptatem optio sunt ducimus alias quisquam?
            Est, a modi! Laudantium dolores doloribus quia voluptatem
            consequatur neque tenetur earum delectus perspiciatis, rem,
            laboriosam distinctio ut culpa libero praesentium minus saepe
            exercitationem consectetur assumenda eius nulla. Quaerat
            consequuntur quos ipsa voluptatem asperiores non deleniti eius,
            assumenda quis saepe eligendi repellat fuga nisi, porro repellendus
            exercitationem sint laborum quae inventore fugiat voluptate
            cupiditate.
          </p>
          <h2>Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            aperiam est sint! Deserunt, incidunt, est qui aliquid magni
            consequuntur sit adipisci ab placeat doloribus doloremque sapiente
            architecto velit quod enim officiis ipsa obcaecati veritatis
            reprehenderit quasi itaque quia quisquam laudantium distinctio?
            Praesentium incidunt quibusdam eaque a provident ullam excepturi
            odit perspiciatis aperiam expedita beatae dolorum, quae id omnis?
            Possimus quo exercitationem temporibus animi dignissimos dolorem
            distinctio nobis perspiciatis officiis rem at voluptatibus,
            inventore molestias, eaque totam, nulla placeat! Aperiam, dolorem a
            provident atque ipsam eum optio amet veritatis perspiciatis vero
            error nobis ad debitis dignissimos architecto dicta, assumenda quasi
            beatae!
          </p>
        </b-col>
      </b-row>

      <!-- Features and Benefits -->
      <b-row class="mt-4">
        <b-col cols="12" md="6" order-md="2" class="mb-3">
          <h2>Show image+text</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore
            error nemo odit mollitia adipisci illo, pariatur facilis quaerat
            officia sapiente voluptas eaque dolorum culpa placeat quam ut!
            Facere quas, dolorum cumque obcaecati aliquid necessitatibus illum
            odio? Dignissimos, distinctio veritatis possimus in soluta cum odit
            sequi laboriosam eum perferendis? Dolore natus veniam quibusdam
            similique vitae debitis est voluptatum recusandae? Totam, a!
          </p>
        </b-col>
        <b-col cols="12" md="6" order-md="1">
          <g-image src="~/assets/images/fpo-3x2.png" />
        </b-col>
      </b-row>

      <b-row class="justify-content-md-center mt-4">
        <b-col cols="12" md="8">
          <h2>Back to Centered Text</h2>
          <p>
            <strong>This full text is too lengthy to comfortably read.</strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            voluptate molestias placeat iure quo libero iste dolore, omnis
            tempore excepturi optio laboriosam atque distinctio rem, labore
            corrupti. Possimus voluptatem optio sunt ducimus alias quisquam?
            Est, a modi! Laudantium dolores doloribus quia voluptatem
            consequatur neque tenetur earum delectus perspiciatis, rem,
            laboriosam distinctio ut culpa libero praesentium minus saepe
            exercitationem consectetur assumenda eius nulla. Quaerat
            consequuntur quos ipsa voluptatem asperiores non deleniti eius,
            assumenda quis saepe eligendi repellat fuga nisi, porro repellendus
            exercitationem sint laborum quae inventore fugiat voluptate
            cupiditate.
          </p>
          <h2>Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            aperiam est sint! Deserunt, incidunt, est qui aliquid magni
            consequuntur sit adipisci ab placeat doloribus doloremque sapiente
            architecto velit quod enim officiis ipsa obcaecati veritatis
            reprehenderit quasi itaque quia quisquam laudantium distinctio?
            Praesentium incidunt quibusdam eaque a provident ullam excepturi
            odit perspiciatis aperiam expedita beatae dolorum, quae id omnis?
            Possimus quo exercitationem temporibus animi dignissimos dolorem
            distinctio nobis perspiciatis officiis rem at voluptatibus,
            inventore molestias, eaque totam, nulla placeat! Aperiam, dolorem a
            provident atque ipsam eum optio amet veritatis perspiciatis vero
            error nobis ad debitis dignissimos architecto dicta, assumenda quasi
            beatae!
          </p>
        </b-col>
      </b-row>
    </b-container>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Clinical Evidence"
  }
};
</script>

<style lang="scss" scoped>
@import "~@/assets/css/custom.scss";

.image-bg-intro {
  background-image: url("https://picsum.photos/1600/600/?image=220");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  height: 300px;
  @media (max-width: $bp-sm) {
    height: 250px;
  }
}
</style>
