<template>
  <Layout>
    <b-jumbotron
      text-variant="light"
      fluid
      container-fluid
      class="image-bg-intro"
    >
      <template v-slot:header>Education</template>

      <template v-slot:lead>
        <span class="text-light">Lead text if needed.</span>
      </template>
    </b-jumbotron>

    <b-container fluid class="mt-4">
      <!-- <h1>Advanced Automation</h1> -->
      <b-row>
        <b-col class="full-responsive">
          <h2>Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate molestias placeat iure quo libero iste dolore, omnis tempore excepturi optio laboriosam atque distinctio rem, labore corrupti. Possimus voluptatem optio sunt ducimus alias quisquam? Est, a modi! Laudantium dolores doloribus quia voluptatem consequatur neque tenetur earum delectus perspiciatis, rem, laboriosam distinctio ut culpa libero praesentium minus saepe exercitationem consectetur assumenda eius nulla. Quaerat consequuntur quos ipsa voluptatem asperiores non deleniti eius, assumenda quis saepe eligendi repellat fuga nisi, porro repellendus exercitationem sint laborum quae inventore fugiat voluptate cupiditate.
          </p>
          <p>
            Laboriosam, omnis quisquam harum earum voluptas fugit ea ducimus ipsa neque sapiente facilis cum iste blanditiis? Ea veniam aspernatur quasi blanditiis voluptas dolorum officia, atque corporis culpa quam voluptate quibusdam quisquam recusandae commodi dolore consectetur? Quae earum amet cupiditate quas. Hic corrupti itaque corporis quos aliquam magnam labore reprehenderit odit eaque necessitatibus molestias quisquam rerum nisi iusto reiciendis, provident minima illo praesentium laudantium molestiae ut nam debitis.
          </p>
          <h2>Subheading</h2>
          <p>
            Suscipit consequuntur enim quos, perferendis consequatur velit quis repudiandae eius exercitationem mollitia facilis! Itaque ipsa autem dolore deserunt eius ipsum. A assumenda quibusdam repudiandae at nihil voluptate hic, dolore eum non error, beatae dolores ipsum ipsa necessitatibus consequuntur delectus sunt, laudantium expedita rem vero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolores debitis enim odio in itaque rem magnam quibusdam sed facilis, quo, necessitatibus dolore. Eveniet ex aperiam saepe? Dolore, in voluptas.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis beatae libero aspernatur nisi amet quae earum exercitationem maiores modi, nobis possimus culpa quod laudantium vel aperiam eos dolores minus ea placeat sequi doloremque commodi animi enim excepturi. Quia quidem quaerat provident illo eius nesciunt perferendis est? Soluta, dolore non porro sed vero dicta aliquid necessitatibus consectetur optio neque amet illo tempora consequuntur accusamus ea quibusdam, sit velit. Totam, similique illum dolor quidem soluta veniam. Fugit, adipisci iste eligendi amet officia, excepturi reiciendis velit placeat voluptatem, necessitatibus molestias. Vel nemo officia magni aliquam minus omnis, sequi nobis corrupti earum culpa. Quas sapiente a recusandae odit nesciunt. Unde illum ea cupiditate minima fugit libero odio delectus illo impedit, pariatur perferendis eius laborum quis dignissimos magni. Illum assumenda tempora perferendis exercitationem optio suscipit rerum sit, fugiat tempore non corporis ab impedit beatae consequuntur aspernatur enim voluptatum dignissimos illo quo. Voluptatibus eius libero quia.
          </p>
          <h2>Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati beatae veritatis nulla amet repellat, exercitationem dignissimos aspernatur aut at tempora deleniti, culpa officia ab sapiente voluptatibus iste mollitia, ex perferendis tempore hic quia magni.
          </p>
          <p>
            Dicta aut earum similique nemo enim animi aliquid ducimus ipsa quaerat praesentium officiis odit repellat dolores vel neque quos iusto ad, quas sequi alias exercitationem quasi! Earum dolorum velit dolore aperiam unde labore, a excepturi, quam recusandae molestiae provident architecto in ex qui saepe vel veniam tenetur officiis exercitationem reprehenderit. Beatae, dignissimos recusandae aperiam labore, veniam qui, fugit velit dolor ratione dolore sed. Autem, officia?
          </p>
        </b-col>
      </b-row>

    </b-container>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Education"
  }
};
</script>

<style lang="scss" scoped>
@import "~@/assets/css/custom.scss";

.image-bg-intro {
  background-image: url("https://picsum.photos/1600/600/?image=254");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  height: 300px;
  @media (max-width: $bp-sm) {
    height: 250px;
  }
}
</style>