<template>
  <Layout>
    <b-jumbotron bg-variant="dark" text-variant="white" fluid container-fluid>
      <template v-slot:header>Grid</template>

      <template v-slot:lead>
        To facilitate multi-column layouts, we'll use a 12-column grid.
      </template>

    <p>
      12 columns are used to create 1, 2, 3 or 4 column "groups" that appear in a row. When
      the browser is narrow enough (such as on mobile devices, or on tablets
      in portrait orientation), the multiple columns collapse and "stack" on
      top of one another. This is considered the
      <strong>single-column mobile layout</strong>.</p>
    </b-jumbotron>
    
    <b-container fluid class="bv-example-row mb-4">

      </p>
      <h3>2x1 → 1 column</h3>
      <p class="test-color">Testing MDT</p>
      <b-row class="text-center">
        <b-col cols="12" sm="6" class="temp-grid">Image</b-col>
        <b-col cols="12" sm="6" class="temp-grid">Text</b-col>
      </b-row>
      <h3 class="pt-3">3x1 → 1 column</h3>
      <b-row class="text-center">
        <b-col cols="12" sm="4" class="temp-grid">col 1</b-col>
        <b-col cols="12" sm="4" class="temp-grid">col 2</b-col>
        <b-col cols="12" sm="4" class="temp-grid">col 3</b-col>
      </b-row>
      <h3 class="pt-3">3x1 → 2-over-1 → 1 column</h3>
      <b-row class="text-center">
        <b-col cols="12" sm="6" lg="4" class="temp-grid">col 1</b-col>
        <b-col cols="12" sm="6" lg="4" class="temp-grid">col 2</b-col>
        <b-col cols="12" sm="12" lg="4" class="temp-grid">col 3</b-col>
      </b-row>
      <h3 class="pt-3">4x1 → 2x2 → 1 column</h3>
      <b-row class="text-center">
        <b-col cols="12" sm="6" md="3" class="temp-grid">col 1</b-col>
        <b-col cols="12" sm="6" md="3" class="temp-grid">col 2</b-col>
        <b-col cols="12" sm="6" md="3" class="temp-grid">col 3</b-col>
        <b-col cols="12" sm="6" md="3" class="temp-grid">col 4</b-col>
      </b-row>
      <h3 class="pt-3">1/3 + 2/3 → 1 column</h3>
      <b-row>
        <b-col cols="12" sm="4" class="temp-grid">col 1</b-col>
        <b-col cols="12" sm="8" class="temp-grid">col 2</b-col>
      </b-row>
    </b-container>

  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Grid"
  }
};
</script>

<style lang="scss">
@import "~@/assets/css/custom.scss";

.temp-grid {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(220, 220, 220, 1);
}

.image-bg-reference {
  background-image: url("https://picsum.photos/1200/600/?image=25");
  background-color: $mdt-medtronic-blue;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  height: 360px;
}

.image-bg {
  // background-image: url("https://via.placeholder.com/1200x600.png?text=FPO");
  background-image: url("https://picsum.photos/1200/600/?image=10");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center 20%;
  height: 360px;
}

.left-text {
  max-width: 600px;
}
</style>
