<template>
  <Layout>
    <!-- Intro -->
    <b-jumbotron
      text-variant="light"
      fluid
      container-fluid
      class="image-bg-intro parallax-fixed"
    >
      <template v-slot:header>MiniMed 780G</template>

      <template v-slot:lead>
        <span class="text-light">More automation. More convenience.</span>
      </template>
      <b-button variant="info">Learn More</b-button>
    </b-jumbotron>

    <b-container fluid class="mt-4">
      <!-- Features and Benefits -->
      <b-row>
        <b-col cols="12" md="6" order-md="2" class="mb-3">
          <h2>Features and Benefits</h2>
          <p>
            Lorem ipsum dolor sit
            <strong>amet consectetur adipisicing elit</strong>. Eius est earum
            possimus magnam asperiores numquam iure, tempora praesentium aut.
            Nostrum, dolorem explicabo ad.
          </p>
          <p>
            Here is an
            <g-link to="/scroll"
              >example of animating elements based on scrolling</g-link
            >. Elements animate with an intro animation (fading in, moving in)
            when they are scrolled into view (when they come into view at the
            bottom of the page).
          </p>
          <b-button variant="primary">Learn More</b-button>
        </b-col>
        <b-col cols="12" md="6" order-md="1">
          <g-image src="~/assets/images/fpo-3x2.png" />
        </b-col>
      </b-row>

      <!-- Story of Automation -->
      <b-row class="mt-5">
        <b-col cols="12" md="6" order-md="1" class="mb-3">
          <h2>Story of Automation</h2>
          <p>
            We know we're likely not doing video. This is only a temporary demo
            to try matching one of Medtronic's styles of showing video (button
            opens YouTube in a modal window).
          </p>
          <p>
            Pariatur quisquam vitae suscipit nobis. Debitis iusto eaque eveniet
            fugit corrupti veritatis aut harum, doloremque libero assumenda
            voluptatum commodi.
            <strong>Example of a WATCH VIDEO button.</strong>
          </p>
          <b-button @click="show = true" variant="primary"
            >Watch Video <font-awesome icon="video" class="ml-2"
          /></b-button>
        </b-col>
        <b-col cols="12" md="6" order-md="2">
          <g-image src="~/assets/images/fpo-4x3.png" />
        </b-col>
      </b-row>

      <!-- Test of 1:1 -->
      <b-row class="mt-5">
        <b-col cols="12" md="6" order-md="2" class="mb-3">
          <h2>Test of 1:1 image</h2>
          <p>
            <strong>1:1 images seem too tall for "text + image" blocks.</strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est
            earum possimus magnam asperiores numquam
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            sit perferendis esse aspernatur tenetur mollitia, accusantium,
            pariatur eius unde culpa placeat.
          </p>

          <b-button variant="primary">Learn More</b-button>
        </b-col>
        <b-col cols="12" md="6" order-md="1">
          <g-image src="~/assets/images/fpo-1x1.png" />
        </b-col>
      </b-row>
    </b-container>

    <!-- Clinical Evidence -->
    <b-jumbotron
      text-variant="black"
      fluid
      container-fluid
      class="mt-5 image-bg-story"
    >
      <template v-slot:header>Clinical Evidence</template>

      <template v-slot:lead>
        Lorem ipsum dolor sit amet consectetur adipisicing.
      </template>
      <p class="hero-body-limited-width">
        Deleniti deserunt ipsum neque accusantium incidunt libero esse minima,
        quasi ex tenetur, consectetur quo voluptas iste, deserunt praesentium in
        magnam recusandae molestiae.
      </p>
      <b-button @click="show = true" variant="primary">Learn More</b-button>
    </b-jumbotron>

    <!-- Learn More -->
    <b-container fluid class="mb-4">
      <h2 class="mt-5 mb-4 text-center">Learn More</h2>
      <b-row class="text-left">
        <b-col cols="12" md="4" lg="4">
          <b-card
            bg-variant="primary"
            text-variant="white"
            title="Common Questions"
            :img-src="require('@/assets/images/fpo-1x1.png')"
            img-alt="Image"
            img-top
            tag="article"
            class="h-100"
          >
            <b-card-text>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </b-card-text>

            <b-button @click="show = true" variant="info" class="text-uppercase"
              >Learn More</b-button
            >
          </b-card>
        </b-col>

        <b-col cols="12" md="4" lg="4">
          <b-card
            bg-variant="primary"
            text-variant="white"
            title="Education"
            :img-src="require('@/assets/images/fpo-4x3.png')"
            img-alt="Image"
            img-top
            tag="article"
            class="h-100"
          >
            <b-card-text>
              Totam, placeat exercitationem reiciendis quidem repellat culpa?
              Ullam consectetur deleniti nesciunt saepe illum quas perferendis.
            </b-card-text>

            <b-button href="#" variant="info">Learn More</b-button>
          </b-card>
        </b-col>

        <b-col cols="12" md="4" lg="4">
          <b-card
            bg-variant="primary"
            text-variant="white"
            title="CareLink Reports"
            :img-src="require('@/assets/images/fpo-3x2.png')"
            img-alt="Image"
            img-top
            tag="article"
            class="h-100"
          >
            <b-card-text>
              Magni magnam accusantium, est voluptatibus, et culpa fugiat eos
              perspiciatis cumque aut voluptatum.
            </b-card-text>

            <b-button href="#" variant="info"
              >Learn More<font-awesome icon="chevron-right" class="ml-2 mb-1"
            /></b-button>
          </b-card>
        </b-col>
      </b-row>
    </b-container>

    <b-modal v-model="show" hide-footer hide-header centered size="xl">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/i6gVX5yp7pU?rel=0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          style="padding: 0px; background: rgb(255, 255, 255);"
        ></iframe>
      </div>
    </b-modal>
  </Layout>
</template>

<script>
import AOS from "aos";
import "aos/dist/aos.css";

export default {
  metaInfo: {
    title: "Home"
  },
  data() {
    return {
      show: false
    };
  },
  mounted() {
    AOS.init();
  }
};
</script>

<style lang="scss" scoped>
@import "~@/assets/css/custom.scss";

.image-bg-intro {
  background-image: url("https://picsum.photos/2000/1000/?image=876");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  height: 300px;
  @media (max-width: $bp-sm) {
    height: 250px;
  }
}

.image-bg-story {
  background-image: url("https://picsum.photos/1200/600/?image=14");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
</style>
