<template>
  <Layout>
    <b-container fluid class="pt-4">
      <h1>Interactivity</h1>
      <p>
        These interactive components provide a user the ability to sift through
        simple collections of information.
      </p>
      <h3>Carousel component</h3>
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="0"
        controls
        indicators
        background="#ababab"
        img-width="1024"
        img-height="480"
        style="text-shadow: 1px 1px 2px #333;"
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <!-- Text slides with image -->
        <b-carousel-slide
          caption="First slide"
          text="Nulla vitae elit libero, a pharetra augue mollis interdum."
          img-src="https://picsum.photos/1024/480/?image=52"
          content-visible-up="sm"
        ></b-carousel-slide>

        <!-- Slides with custom text -->
        <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=54">
          <h1>Hello world!</h1>
        </b-carousel-slide>

        <!-- Slides with image only -->
        <b-carousel-slide
          img-src="https://picsum.photos/1024/480/?image=58"
        ></b-carousel-slide>

        <!-- Slides with img slot -->
        <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
        <b-carousel-slide>
          <template v-slot:img>
            <img
              class="d-block img-fluid w-100"
              width="1024"
              height="480"
              src="https://picsum.photos/1024/480/?image=55"
              alt="image slot"
            />
          </template>
        </b-carousel-slide>

        <!-- Slide with blank fluid image to maintain slide aspect ratio -->
        <b-carousel-slide caption="Blank Image" img-blank img-alt="Blank image">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            eros felis, tincidunt a tincidunt eget, convallis vel est. Ut
            pellentesque ut lacus vel interdum.
          </p>
        </b-carousel-slide>
      </b-carousel>

      <h3 class="pt-3">Accordion</h3>
      <div role="tablist">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-1 variant="primary"
              >Accordion 1</b-button
            >
          </b-card-header>
          <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ text }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-2 variant="primary"
              >Accordion 2</b-button
            >
          </b-card-header>
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ text }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-3 variant="primary"
              >Accordion 3</b-button
            >
          </b-card-header>
          <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ text }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-4 variant="primary"
              >Accordion 4</b-button
            >
          </b-card-header>
          <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ text }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>

      <h3 class="pt-3">Tabs</h3>
      <p>Limit to 3-4 with titles that fit on one row on mobile screens.</p>
      <div>
        <b-tabs content-class="mt-3">
          <b-tab title="First tab" active>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
              commodi unde consectetur labore ipsa dolorem totam. Doloribus
              nobis rem explicabo deserunt consequuntur, voluptatem impedit
              nesciunt commodi laudantium quam at molestiae, quisquam omnis? Qui
              debitis dolorum soluta odio assumenda suscipit perferendis. Eum,
              officiis. Et, quasi est cumque animi sunt iure consequuntur.
            </p></b-tab
          >
          <b-tab title="Second tab"
            ><p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In
              aliquid doloribus dolores, ex iure aspernatur repudiandae
              deleniti, ducimus dolorum praesentium, repellendus numquam nulla
              excepturi fuga ab illum non? Possimus, minus.
            </p></b-tab
          >
          <b-tab title="Third tab"
            ><p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum
              eligendi dignissimos dolores vel, deserunt excepturi earum porro
              esse nisi fuga quo nemo labore, tenetur repellat! Animi architecto
              ipsum magnam natus, voluptas ab consequuntur pariatur amet,
              facilis aliquid perferendis molestias praesentium placeat ullam,
              reiciendis explicabo aut atque reprehenderit veritatis quisquam
              illum sit error dolorum repellat. Incidunt adipisci ullam
              assumenda illum officia!
            </p></b-tab
          >
          <b-tab title="Fourth tab"
            ><p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloribus voluptas debitis accusamus a deleniti ullam inventore,
              odit aliquid molestiae! Esse aliquid ratione quisquam nulla nihil
              eveniet quibusdam consectetur eaque! Dolor exercitationem
              distinctio nisi obcaecati neque expedita placeat fugit corrupti
              dolorum, quas molestiae culpa, natus blanditiis?
            </p></b-tab
          >
        </b-tabs>
      </div>
    </b-container>
  </Layout>
</template>

<script>
export default {
  data() {
    return {
      slide: 0,
      sliding: null,
      text: `
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
          richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
          brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
          tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
          assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
          wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
          vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
          synth nesciunt you probably haven't heard of them accusamus labore VHS.`
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    }
  }
};
</script>

<style lang="scss" scoped></style>
