<template>
  <Layout>
    <div
      class="meter shadow"
      data-aos="zoom-in"
      data-aos-once="false"
      data-aos-anchor=".anchor2"
    >
      Window scrollY: {{ scrollY }}
    </div>
    <b-container fluid class="pt-4">
      <b-row class="justify-content-md-center">
        <b-col cols="12">
          <h1>Scroll</h1>
          <p>
            Scroll down on this page. As elements below come into view from the
            bottom, they will appear with an intro animation.
          </p>
          <p>
            Items can be set to animate in just once, or animate out and back in
            if scrolling up and down on the page. In this example, the very
            bottom elements (sensor image and text) are set to animate
            repeatedly.
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor vero
            animi laudantium voluptatem eligendi laboriosam eius? Omnis possimus
            neque, enim nam alias officiis maiores suscipit. Atque repellat
            nobis aperiam aliquid nihil a perferendis natus ad labore nisi
            quaerat voluptas tempore cupiditate fugiat perspiciatis impedit esse
            ipsum hic sint, illum id quae excepturi odio exercitationem.
            Voluptatem at tenetur, possimus iure deserunt cum a neque
            perspiciatis facilis unde dolorum ad odit natus placeat quis iusto
            quas dignissimos dicta nobis quae eaque! Accusamus vel nemo quam
            minus soluta impedit aliquid est quae quis quidem? Sapiente rerum
            esse molestiae maiores accusantium, facilis quam cumque!
          </p>
          <h2>Lots of text</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            eveniet porro autem cupiditate voluptatum aspernatur quas saepe
            aliquid adipisci deleniti neque veniam minima quae, velit magni
            molestias et eaque, iste repellat excepturi qui voluptate. Incidunt
            aperiam excepturi, praesentium hic vitae ullam quisquam velit,
            aliquid illum repellat, dolorem quis? Atque eligendi omnis error
            corporis, saepe tenetur dolorum odit ut molestiae hic id facere
            incidunt commodi in ipsa, consequatur dolor doloremque, eaque
            pariatur! Quis magni ex ab eveniet aliquid perferendis labore sint
            veniam similique dolores temporibus natus dolor mollitia harum minus
            facilis quod nihil aspernatur libero, facere accusamus distinctio
            doloribus nam dicta?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eos
            error enim impedit dignissimos sint quibusdam. Nemo laudantium
            consectetur error saepe non quas cumque provident aliquam at,
            blanditiis iste sed? Sed, dicta labore. Eveniet illo dolor laborum
            unde atque facere doloribus nulla cupiditate impedit. Amet, saepe?
            Magnam, cupiditate dolorum reiciendis, iusto harum doloribus nemo
            consectetur vel, itaque vero similique minus corporis expedita? Odio
            et eum sapiente dicta suscipit alias quia.
          </p>
          <h2>So much text, right?!</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            eveniet porro autem cupiditate voluptatum aspernatur quas saepe
            aliquid adipisci deleniti neque veniam minima quae, velit magni
            molestias et eaque, iste repellat excepturi qui voluptate. Incidunt
            aperiam excepturi, praesentium hic vitae ullam quisquam velit,
            aliquid illum repellat, dolorem quis? Atque eligendi omnis error
            corporis, saepe tenetur dolorum odit ut molestiae hic id facere
            incidunt commodi in ipsa, consequatur dolor doloremque, eaque
            pariatur! Quis magni ex ab eveniet aliquid perferendis labore sint
            veniam similique dolores temporibus natus dolor mollitia harum minus
            facilis quod nihil aspernatur libero, facere accusamus distinctio
            doloribus nam dicta?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            eveniet porro autem cupiditate voluptatum aspernatur quas saepe
            aliquid adipisci deleniti neque veniam minima quae, velit magni
            molestias et eaque, iste repellat excepturi qui voluptate. Incidunt
            aperiam excepturi, praesentium hic vitae ullam quisquam velit,
            aliquid illum repellat, dolorem quis? Atque eligendi omnis error
            corporis, saepe tenetur dolorum odit ut molestiae hic id facere
            incidunt commodi in ipsa, consequatur dolor doloremque, eaque
            pariatur! Quis magni ex ab eveniet aliquid perferendis labore sint
            veniam similique dolores temporibus natus dolor mollitia harum minus
            facilis quod nihil aspernatur libero, facere accusamus distinctio
            doloribus nam dicta?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            eveniet porro autem cupiditate voluptatum aspernatur quas saepe
            aliquid adipisci deleniti neque veniam minima quae, velit magni
            molestias et eaque, iste repellat excepturi qui voluptate. Incidunt
            aperiam excepturi, praesentium hic vitae ullam quisquam velit,
            aliquid illum repellat, dolorem quis? Atque eligendi omnis error
            corporis, saepe tenetur dolorum odit ut molestiae hic id facere
            incidunt commodi in ipsa, consequatur dolor doloremque, eaque
            pariatur! Quis magni ex ab eveniet aliquid perferendis labore sint
            veniam similique dolores temporibus natus dolor mollitia harum minus
            facilis quod nihil aspernatur libero, facere accusamus distinctio
            doloribus nam dicta?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            eveniet porro autem cupiditate voluptatum aspernatur quas saepe
            aliquid adipisci deleniti neque veniam minima quae, velit magni
            molestias et eaque, iste repellat excepturi qui voluptate. Incidunt
            aperiam excepturi, praesentium hic vitae ullam quisquam velit,
            aliquid illum repellat, dolorem quis? Atque eligendi omnis error
            corporis, saepe tenetur dolorum odit ut molestiae hic id facere
            incidunt commodi in ipsa, consequatur dolor doloremque, eaque
            pariatur! Quis magni ex ab eveniet aliquid perferendis labore sint
            veniam similique dolores temporibus natus dolor mollitia harum minus
            facilis quod nihil aspernatur libero, facere accusamus distinctio
            doloribus nam dicta?
          </p>
        </b-col>
      </b-row>
      <b-row
        class=""
        data-aos="fade-in"
        data-aos-delay="300"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <b-col cols="12" md="5">
          <b-img
            thumbnail
            fluid
            src="https://picsum.photos/800/500/?image=54"
            alt="Image 1"
          ></b-img>
        </b-col>
        <b-col cols="12" md="7">
          <h3>Howdy Heading</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
            corporis blanditiis doloribus sequi tempore ea cupiditate earum
            laboriosam? Provident, in consequuntur amet, perferendis corrupti
            fugiat modi eius recusandae placeat necessitatibus error dignissimos
            esse at. Nulla veritatis qui harum similique quae autem ratione,
            dolor velit temporibus reiciendis vitae, cumque illo. Ullam, iure
            qui labore repellat, quia consequatur magni eius eos, libero
            deserunt molestiae enim cupiditate! Optio corporis modi eum quas
            nostrum, quidem aliquam quaerat fuga repudiandae blanditiis expedita
            eos, sit dolorum ipsum molestiae excepturi consectetur ab autem qui
            culpa id ex quos? Repellendus delectus officiis vitae optio eum
            exercitationem.
          </p>
        </b-col>
      </b-row>
      <b-row
        class="pt-4"
        data-aos="fade-in"
        data-aos-delay="300"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <b-col cols="12" md="5" order="2">
          <b-img
            thumbnail
            fluid
            src="https://picsum.photos/800/500/?image=64"
            alt="Image 1"
          ></b-img>
        </b-col>
        <b-col cols="12" md="7" order="1">
          <h3>Blurby Blurberson</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
            corporis blanditiis doloribus sequi tempore ea cupiditate earum
            laboriosam? Provident, in consequuntur amet, perferendis corrupti
            fugiat modi eius recusandae placeat necessitatibus error dignissimos
            esse at. Nulla veritatis qui harum similique quae autem ratione,
            dolor velit temporibus reiciendis vitae, cumque illo. Ullam, iure
            qui labore repellat, quia consequatur magni eius eos, libero
            deserunt molestiae enim cupiditate! Optio corporis modi eum quas
            nostrum, quidem aliquam quaerat fuga repudiandae blanditiis expedita
            eos, sit dolorum ipsum molestiae excepturi consectetur ab autem qui
            culpa id ex quos? Repellendus delectus officiis vitae optio eum
            exercitationem architecto assumenda veniam praesentium quae est
            ipsum tempora distinctio.
          </p>
        </b-col>
      </b-row>
      <b-row class="justify-content-md-center mt-5 anchor2">
        <b-col
          cols="12"
          md="8"
          data-aos="fade-in"
          data-aos-delay="300"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <h2>Stunning Subheading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            voluptate molestias placeat iure quo libero iste dolore, omnis
            tempore excepturi optio laboriosam atque distinctio rem, labore
            corrupti. Possimus voluptatem optio sunt ducimus alias quisquam?
            Est, a modi! Laudantium dolores doloribus quia voluptatem
            consequatur neque tenetur earum delectus perspiciatis, rem,
            laboriosam distinctio ut culpa libero praesentium minus saepe
            exercitationem consectetur assumenda eius nulla.
          </p>
          <figure class="figure">
            <g-image src="https://picsum.photos/1000/500/?image=123"></g-image>
            <figcaption class="figure-caption">
              A caption for the above image.
            </figcaption>
          </figure>
        </b-col>
      </b-row>
    </b-container>
    <b-jumbotron
      text-variant="light"
      fluid
      container-fluid
      class="image-bg-intro text-center parallax-fixed"
    >
      <template v-slot:header>Scurvy Durvy Wurvy</template>

      <!-- <template v-slot:lead>
        <span class="text-light">Lead text if needed.</span>
      </template> -->
    </b-jumbotron>
    <b-container fluid class="mt-4">
      <!-- Features and Benefits -->
      <b-row class="hide-horiz-scroll">
        <b-col
          cols="12"
          md="6"
          order-md="2"
          class="mb-3"
          data-aos="fade-left"
          data-aos-delay="600"
          data-aos-duration="1000"
          data-aos-once="false"
        >
          <h2>Scary Sensor with Needles</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est
            earum possimus magnam asperiores numquam iure, tempora praesentium
            aut. Nostrum, dolorem explicabo ad repudiandae necessitatibus
            doloremque labore voluptates distinctio! Pariatur quisquam vitae
            suscipit nobis.
          </p>
          <b-button variant="primary">Learn More</b-button>
        </b-col>
        <b-col
          cols="12"
          md="6"
          order-md="1"
          data-aos="fade-right"
          data-aos-delay="300"
          data-aos-duration="1000"
          data-aos-once="false"
        >
          <g-image src="~/assets/images/gs3-sensor.png" />
        </b-col>
      </b-row>
    </b-container>
  </Layout>
</template>

<script>
import AOS from "aos";
import "aos/dist/aos.css";

export default {
  metaInfo: {
    title: "Scroll"
  },
  data() {
    return {
      aosDuration: 800,
      scrollY: 0
    };
  },
  methods: {
    handleScroll(event) {
      this.scrollY = Math.floor(window.scrollY);
    }
  },
  mounted() {
    AOS.init();
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  }
};
</script>

<style lang="scss">
@import "~@/assets/css/custom.scss";

.meter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 250px;
  left: calc(50% - 200px);
  width: 400px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 10;
}
.hide-horiz-scroll {
  overflow-x: hidden;
}
.image-bg-intro {
  background-image: url("https://picsum.photos/2000/1000/?image=716");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  height: 300px;
  @media (max-width: $bp-sm) {
    height: 200px;
  }
}
</style>
