<template>
  <footer class="footer">
    <div class="footer-links">
      <g-link to="" class="footer-link">Privacy Statement</g-link>
      <g-link to="" class="footer-link">Terms of Use</g-link>
    </div>
    <div class="footer-content">
      <p>© {{ getYear }} Medtronic. All Rights Reserved.</p>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      year: this.getYear
    };
  },
  computed: {
    getYear: function() {
      return new Date().getFullYear();
    }
  }
};
</script>

<style lang="scss" scoped></style>
