<template>
  <div>
    <header>
      <div class="header">
        <b-container fluid>
          <g-link class="header-logo" to="/">
            <img
              src="@/assets/images/mdt_logo_white.png"
              alt="Medtronic Logo"
            />
          </g-link>
          <!-- <span class="header-title">Protocol for Advanced Hybrid Closed Loop Therapy: MiniMed™ 780G System</span> -->
          <span class="header-title">MiniMed™ 780G System</span>
        </b-container>
      </div>
      <b-navbar toggleable="md" type="dark" variant="secondary">
        <b-container fluid>
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <g-link
                class="nav-link router-link-exact-active router-link-active"
                to="/advanced-automation/"
                >Advanced Automation</g-link
              >
              <g-link
                class="nav-link router-link-exact-active router-link-active"
                to="/clinical-evidence"
                >Clinical Evidence</g-link
              >
              <g-link
                class="nav-link router-link-exact-active router-link-active"
                to="/education"
                >Education</g-link
              >
              <g-link
                class="nav-link router-link-exact-active router-link-active"
                to="/service-and-support"
                >Service and Support</g-link
              >
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown text="Resources" right>
                <b-dropdown-item href="#">Resources A</b-dropdown-item>
                <b-dropdown-item href="#">Resources B</b-dropdown-item>
                <b-dropdown-item href="#">Resources C</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-container>
      </b-navbar>
    </header>
    <!-- <b-container fluid>
      <span>Hi there breadcrumb</span>
    </b-container> -->
    <slot />
    <app-footer />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import Footer from "~/components/Footer.vue";
export default {
  components: {
    "app-footer": Footer
  }
};
</script>

<style lang="scss">
@import "~@/assets/css/custom.scss";

@font-face {
  font-family: "Effra";
  src: url("~@/assets/fonts/Effra_W_Rg.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Effra";
  src: url("~@/assets/fonts/Effra_W_Bd.woff");
  font-weight: bold;
}

@import "~@/assets/css/custom.scss";
.header {
  background-color: $mdt-medtronic-blue;
  display: flex;
  align-items: center;
  height: 80px;
}
.header-logo img {
  width: 200px;
}
.header-title {
  color: #fff;
  font-size: 1.125rem;
  position: relative;
  top: 5px;
  user-select: none;
  @media (max-width: 475px) {
    display: none;
  }
}
.footer {
  border-top: 15px solid $mdt-medtronic-blue;
  background-color: $mdt-navy-blue;
  color: #cacaca;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1.5rem 0;
  margin-left: -0.25rem;
  margin-top: 2rem;
}
.footer-link {
  padding: 0 1.5rem;
  text-decoration: none !important;
  color: #ffffff !important;
}
.footer-link:hover {
  color: #ffffff;
  text-decoration: underline !important;
}
.footer-link:not(:first-child) {
  border-left: 2px solid #b1b1b3;
}
.footer-content {
  color: $med-light-gray;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.footer-content p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.nav__link {
  margin-left: 20px;
}
</style>
